<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <main class="container mt-5">
    <section>
      <br>
      <p style="font-size: 20pt; font-weight: bold;">스터디 생성</p>
      <br>
    </section>

    <section>
        <form th:action="@{/room/create}" method="post">
            <div class="post-content">
                <p>스터디룸 이름</p>
                <input type="text" class="form-control" placeholder="스터디 이름 입력" name="roomName" id="roomName" style="width: 400px;">
                <br>

                <p>스터디 소개</p>
                <textarea class="form-control" placeholder="간단한 소개글을 입력하세요." name="roomContent" id="roomContent" style="width: 400px;"></textarea>
                <br>
                <p>최대 인원수</p>
                <input type="number" class="form-control" placeholder="숫자를 입력하세요." name="maximum" id="maximum" style="width: 400px;" min="1" max="20">
                <br><br>
                <hr>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-primary" value="생성">
            </div>
        </form>
    </section>
  </main>
</div>
</html>