<html layout:decorate="~{layout}">
<div layout:fragment="content">
<div class="container ms-3 mt-5" id="main">
        <div class="row">
            <form th:action="@{/post/create}" method="post">
                <div class="post-content">
                    <h3> 게시판 글쓰기 </h3>
                    <hr>
                    <input type="text" class="form-control" placeholder="글제목"  name="subject" id="subject" maxlength="50">
                    <br>
                    <textarea class="form-control" placeholder="내용을 입력하세요." rows="15" name="content" id="content" maxlength="2000"></textarea>

                    <hr>
                </div>
                <div class="text-end">
                    <input type="submit" class="btn btn-primary" value="글쓰기">
                </div>
            </form>
        </div>

    </div>
</div>
</html>